[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120

[tool.coverage.run]
branch = true
source = ["dj_link"]

[tool.coverage.report]
exclude_lines = ["if TYPE_CHECKING:"]